{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    var vm=new Vue({
        el:'#vm',
        data:{
            page:data.page
        },
        methods:{}
    });
    $('#vm').show();
    // body...
}
$(function() {
    getJSON('/pageindex', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}
    

    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
        
         <div id="vm">
             <!-- <div v-repeat="blog:blogs">
                 <article class="uk-article">
                     <h2 >
                         <a target="_blank" v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a>
                     </h2>
                     <p class="uk-article-meta" v-text="'发表于'+blog.created_at.toDateTime()"></p>
                     <p v-text="blog.summary"></p>
                     <hr class="uk-article-divider">
                 </article>

             </div> -->
             <div v-component="pagination" v-with="page"></div>
         </div>
    </div>

    
    <div class="uk-width-medium-1-4">
        {% if __user__ %}
            <div class="uk-panel uk-panel-box">
                <div class="uk-text-center">
                    <img class="uk-border-circle" width="120" height="120" src="{{ __user__.image }}">
                    <h3>{{ __user__.name }}</h3>
                </div>
            </div>
        {% else %}
            <div class="uk-panel uk-panel-box">
                <div class="uk-text-center">
                    <img class="uk-border-circle" width="120" height="120" src="http://www.gravatar.com/avatar/46cb188013abd2c6ac05585ccca25e89?d=mm&s=120">
                    <h3>Exmlyshy</h3>
                </div>
            </div>
        {% endif %}
        
    </div>
    

{% endblock %}